html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #F7F6F5 !important;
}

#header-main .header-1 {
  background-color: #42314C !important;
}
#header-main .header-1 .element-info .grid-info .info-inner .info-phone {
  color: #F7F6F5 !important;
}
#header-main .header-2 {
  background: #915a84 !important;
}
#header-main .header-2 .element-logo .grid-logo {
  display: flex !important;
  max-width: 100% !important;
}
#header-main .header-2 .element-logo .grid-logo .logo {
  height: 120px !important;
  width: 120px !important;
}
#header-main .header-2 .element-search .grid-search .welcome-message {
  visibility: hidden !important;
}
#header-main .header-2 .element-search .grid-search #form-search-header .search-inner .search-field {
  border-radius: 50px;
  padding: 18px;
  color: #42314C !important;
  font-size: 15px;
}
#header-main .header-2 .element-search .grid-search #form-search-header .search-inner .search-field::placeholder {
  color: #42314C !important;
  font-size: 15px;
}
#header-main .header-2 .element-search .grid-search #form-search-header .search-inner .search-field:focus {
  border: none !important;
  box-shadow: 0 0 10px 4px #DB81B9;
}
#header-main .header-2 .element-search .grid-search #form-search-header .search-inner .btn, #header-main .header-2 .element-search .grid-search #form-search-header .search-inner .btn-search {
  top: 8px !important;
}
#header-main .header-2 .element-shopping-cart .grid-shopping-cart .element-menu-top {
  font-weight: bold !important;
  font-size: 13px !important;
}
#header-main .header-2 .element-shopping-cart .grid-shopping-cart .element-menu-top .menu-top-list li {
  color: #F7F6F5 !important;
}
#header-main .header-2 .element-shopping-cart .grid-shopping-cart .link-shopping-cart {
  margin-top: 10px !important;
  border-radius: 50px !important;
  background-color: #42314C !important;
  padding: 18px;
  padding-left: 45px;
  cursor: pointer !important;
}
#header-main .header-2 .element-shopping-cart .grid-shopping-cart .link-shopping-cart .icon-shopping-cart {
  color: #F7F6F5 !important;
  top: 7px;
  left: 3px;
}
#header-main .header-2 .element-shopping-cart .grid-shopping-cart .link-shopping-cart .shopping-cart-total-price-wrapper .shopping-cart-total-price {
  color: #F7F6F5 !important;
}
#nav-main .element-menu-category {
  box-shadow: none !important;
}
#nav-main .element-menu-category #menu-category .menu-category-inner .menu-category-list li a {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 40px !important;
}
#content-main #sidebar-left {
  display: none !important;
}
#vitrine {
  margin-left: 0 !important;
}
#vitrine .element-highlight .header-box-content .title-secundary {
  color: #42314C !important;
  border: none !important;
  font-size: 25px;
}
#vitrine .element-highlight #product-list .product-list-item {
  background-color: #F7F6F5 !important;
  padding: 0 0 80px 0 !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 5px rgba(129, 80, 118, 0.4);
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .product-image {
  background-color: #fff !important;
  border-radius: 9px 9px 0 0 !important;
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-name {
  padding: 10px;
  color: #42314C !important;
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-price, #vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-old-price {
  padding-left: 10px;
  color: #42314C !important;
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-price span, #vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-old-price span {
  color: #42314C !important;
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-price .product-big-price, #vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-old-price .product-big-price {
  color: #42314C !important;
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-price, #vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-sell-price {
  color: #42314C !important;
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-product-combination {
  display: none !important;
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product {
  bottom: 0 !important;
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn, #vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit {
  width: 100% !important;
  background: #DB81B9 !important;
  border-radius: 0 0 10px 10px !important;
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn .btn-text, #vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit .btn-text {
  color: #F7F6F5 !important;
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover, #vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover {
  background: #815076 !important;
  border-radius: 0 0 10px 10px !important;
}
#vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover .btn-text, #vitrine .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover .btn-text {
  color: #F7F6F5 !important;
}
#vitrine .element-bestseller .header-box-content .title-secundary {
  color: #42314C !important;
  border: none !important;
  font-size: 25px;
}
#vitrine .element-bestseller #product-list .product-list-item {
  border-radius: 20px;
}
#vitrine .element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-product-combination {
  display: none !important;
}
#vitrine .element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn,
#vitrine .element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit {
  background: #815076 !important;
  border-radius: 10px !important;
  border: 0.1px groove #815076 !important;
}
#vitrine .element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover,
#vitrine .element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover {
  background: transparent !important;
  border: 0.1px groove #815076 !important;
  border-radius: 10px !important;
}
#vitrine .element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover .btn-text,
#vitrine .element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover .btn-text {
  color: #815076;
}
#vitrine .element-promotion .header-box-content .title-secundary {
  color: #42314C !important;
  border: none !important;
  font-size: 25px;
}
#vitrine .element-promotion #product-list .product-list-item {
  border-radius: 20px;
}
#vitrine .element-promotion #product-list .product-list-item .product-list-item-inner .wrapper-product-combination {
  display: none !important;
}
#vitrine .element-promotion #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn,
#vitrine .element-promotion #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit {
  background: #815076 !important;
  border-radius: 10px !important;
  border: 0.1px groove #815076 !important;
}
#vitrine .element-promotion #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover,
#vitrine .element-promotion #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover {
  background: transparent !important;
  border: 0.1px groove #815076 !important;
  border-radius: 10px !important;
}
#vitrine .element-promotion #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover .btn-text,
#vitrine .element-promotion #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover .btn-text {
  color: #815076;
}
#vitrine .element-latest .header-box-content .title-secundary {
  color: #42314C !important;
  border: none !important;
  font-size: 25px;
}
#vitrine .element-latest .header-box-content #product-list .product-list-item {
  border-radius: 10px;
}
#vitrine .element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-product-combination {
  display: none !important;
}
#vitrine .element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn,
#vitrine .element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit {
  background: #815076 !important;
  border-radius: 10px !important;
  border: 1px solid #815076 !important;
}
#vitrine .element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover,
#vitrine .element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover {
  background: transparent !important;
  border: 1px solid #815076 !important;
  border-radius: 10px !important;
}
#vitrine .element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover .btn-text,
#vitrine .element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover .btn-text {
  color: #815076;
}
#vitrine .list-product-empty {
  color: #594E5F !important;
}

#footer-main {
  background-color: #42314C !important;
}
#footer-main .footer-main-inner .footer-1 .element-phone {
  color: #F7F6F5 !important;
}

/*# sourceMappingURL=main.css.map */
