@use 'reset.scss';
@import 'paleta.scss';


body {
    background-color: $light-shade !important;
}

#header-main {
    @import 'header/header-1/header-1.scss';

    @import 'header/header-2/header-2.scss';

    @import 'header/header-3/header-3.scss';
}



#nav-main {
    @import 'nav-main/nav-main.scss';
}

#content-main {
    .sidebar { }
    
    #sidebar-left { 
        display: none !important;

        @import 'side-bar/element-categories/elemente-categories.scss';
        
        @import 'side-bar/element-bestseller/element-bestseller.scss';

        @import 'side-bar/element-newsletter/elemente-newsletter.scss';
    }
}


#vitrine {
    margin-left: 0 !important;
    
    @import 'vitrine/element-highlight/element-highlight.scss';

    @import 'vitrine/element-bestseller/element-bestseller.scss';

    @import 'vitrine/element-promotion/element-promotion.scss';

    @import 'vitrine/element-content/element-content.scss';

    @import 'vitrine/element-latest/element-latest.scss';

    .list-product-empty {
        color: $light-accent !important;
    }
}

#nav-bottom {
    .element-banner-bottom { }
}

#footer-main {
    background-color: $dark-shade !important;

    .footer-main-inner {

        @import 'footer/footer-1/footer-1.scss';

        @import 'footer/footer-2/fotter-2.scss';

        @import 'footer/footer-3/footer-3.scss';
    }
    
    .copyright {
    }
}
