@import '../../paleta.scss';

.element-latest {
    .header-box-content { 
        .title-secundary {
            color: $dark-shade !important;
            border: none !important;
            font-size: 25px;
         }
    
        @import 'product-item-list.scss';
    }
}
