.element-bestseller .header-box-content .title-secundary {
  color: #42314C !important;
  border: none !important;
  font-size: 25px;
}
.element-bestseller #product-list .product-list-item {
  border-radius: 20px;
}
.element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-product-combination {
  display: none !important;
}
.element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn,
.element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit {
  background: #815076 !important;
  border-radius: 10px !important;
  border: 0.1px groove #815076 !important;
}
.element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover,
.element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover {
  background: transparent !important;
  border: 0.1px groove #815076 !important;
  border-radius: 10px !important;
}
.element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover .btn-text,
.element-bestseller #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover .btn-text {
  color: #815076;
}

/*# sourceMappingURL=element-bestseller.css.map */
