.element-latest .header-box-content .title-secundary {
  color: #42314C !important;
  border: none !important;
  font-size: 25px;
}
.element-latest .header-box-content #product-list .product-list-item {
  border-radius: 10px;
}
.element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-product-combination {
  display: none !important;
}
.element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn,
.element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit {
  background: #815076 !important;
  border-radius: 10px !important;
  border: 1px solid #815076 !important;
}
.element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover,
.element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover {
  background: transparent !important;
  border: 1px solid #815076 !important;
  border-radius: 10px !important;
}
.element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover .btn-text,
.element-latest .header-box-content #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover .btn-text {
  color: #815076;
}

/*# sourceMappingURL=element-latest.css.map */
