.element-menu-category {
  box-shadow: none !important;
}
.element-menu-category #menu-category .menu-category-inner .menu-category-list li a {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 40px !important;
}

/*# sourceMappingURL=nav-main.css.map */
