.element-logo {
    
    .grid-logo {
        display: flex !important;
        max-width: 100% !important;
        .logo {
            height: 120px !important;
            width: 120px !important;
        }
    }
}
