@import "../../paleta.scss";

.element-search {
    .grid-search {
        .welcome-message {
            visibility: hidden !important;
        }

        #form-search-header {
            .search-inner {
                .search-field {
                    border-radius: 50px;
                    padding: 18px;
                    color: $dark-shade !important;
                    font-size: 15px;


                    &::placeholder {
                        color: $dark-shade !important;
                        font-size: 15px;
                    }

                    &:focus {
                        border: none !important;
                        box-shadow: 0 0 10px 4px $primary-color;
                        
                    }
                }
                .btn, .btn-search {
                    top: 8px !important;

                    .icon-search, .btn-icon {
                    }
                    .btn-text {
                    }
                }
            }
        }
    }
}
