@import "../../paleta.scss";

.element-shopping-cart {
    .grid-shopping-cart {
        .element-menu-top {
            font-weight: bold !important;
            font-size: 13px !important;
            .menu-top-list {
                li { 
                    color:  $light-shade !important;
                }
            }
        }

        .link-shopping-cart {
            margin-top: 10px !important;
            border-radius: 50px !important;
            background-color: $dark-shade !important;
            padding: 18px;
            padding-left: 45px;
            cursor: pointer !important;

            .icon-shopping-cart {
                color: $light-shade !important;
                top: 7px;
                left: 3px;

            }

            .shopping-cart-title {
            }

            .shopping-cart-total-products-wrapper {
                .shopping-cart-total-products {
                }
            }

            .shopping-cart-total-price-wrapper {
                .shopping-cart-total-price {
                    color: $light-shade !important;
                }
            }

            .wrapper-list-products-shopping-cart {
                .list-products-shopping-cart {
                    .total-price-shopping-cart-wrapper {
                        ul {
                        }

                        .total-price-shopping-cart {
                        }

                        .cart-action-buttons {
                            .btn,
                            .btn-cart-checkou {
                                .btn-text {
                                }
                            }
                            .btn,
                            .btn-cart-continue,
                            .product-add {
                                .btn-text {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
