@import "../../paleta.scss";

#product-list {
    .product-list-item {
        background-color: $light-shade !important;
        padding: 0 0 80px 0 !important;
        border-radius: 10px !important;
        box-shadow: 0px 0px 5px rgba($color: $dark-accent, $alpha: 0.4);
        
        .product-list-item-inner {
            
            .product-image {
                background-color: #fff !important;
                border-radius: 9px 9px 0 0 !important;


                .label-product, .label-promo {
                    a {
                        img {
                        }
                    }
                }
            }
            .product-info {
                .product-name {
                    padding: 10px;
                    color: $dark-shade !important;

                    h2 {
                        a {
                        }
                    }
                }

                .product-price, .product-old-price {
                    // color: adjust-color($color: $dark-shade,  $saturation: -80%) !important;
                    padding-left: 10px;
                    color: $dark-shade !important;


                    span {
                        color: $dark-shade !important;
                    }

                    .product-big-price {
                        color: $dark-shade!important;
                    }
                }

                .product-price, .product-sell-price {
                    color: $dark-shade !important;
                    .product-price {
                    }
                }

                .product-unit {
                }
            }
            .wrapper-product-combination {
                display: none !important;
            }

            .wrapper-btn-product {
                bottom: 0 !important;

                .wrapper-btn-buy-kit {
                    .btn, .btn-buy-kit {
                        width: 100% !important;
                        background:  $primary-color !important;
                        border-radius: 0 0 10px 10px !important;


                        
                        .icon-buy, .btn-icon { }
                        .btn-text {
                            color: $light-shade !important;
                        }

                        &:hover {
                            background: $dark-accent !important;
                            border-radius: 0 0 10px 10px !important;

                            .btn-text {
                                color: $light-shade !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
