@import '../../paleta.scss';

.element-bestseller {
    .header-box-content {
        .title-secundary {
            color: $dark-shade !important;
            border: none !important;
            font-size: 25px;
        }
    }

    @import 'product-item-list.scss';
}