@import '../../paleta.scss';

.header-1 {
    background-color: $dark-shade !important;

    .element-social-header {
        .grid-social-header {
            .social-header-list {
                .social-header-item {
                    .social-header-item-instagram { }
                }
                .social-header-item {
                    .social-header-item-twitter { }
                }
                .social-header-item {
                    .social-header-item-youtube { }
                }
                .social-header-item {
                    .social-header-item-facebook { }
                } 
            }
        } 
    }
        

    .element-info .grid-info .info-inner {
        .info-phone {
            color: $light-shade !important;    
        }
        .info-whatsapp { }
        .info-email { }
        .info-time { }
    }
}