.element-search .grid-search .welcome-message {
  visibility: hidden !important;
}
.element-search .grid-search #form-search-header .search-inner .search-field {
  border-radius: 50px;
  padding: 18px;
  color: #42314C !important;
  font-size: 15px;
}
.element-search .grid-search #form-search-header .search-inner .search-field::placeholder {
  color: #42314C !important;
  font-size: 15px;
}
.element-search .grid-search #form-search-header .search-inner .search-field:focus {
  border: none !important;
  box-shadow: 0 0 10px 4px #DB81B9;
}
.element-search .grid-search #form-search-header .search-inner .btn, .element-search .grid-search #form-search-header .search-inner .btn-search {
  top: 8px !important;
}

/*# sourceMappingURL=element-search.css.map */
