.element-logo .grid-logo {
  display: flex !important;
  max-width: 100% !important;
}
.element-logo .grid-logo .logo {
  height: 120px !important;
  width: 120px !important;
}

/*# sourceMappingURL=element-logo.css.map */
