.element-shopping-cart .grid-shopping-cart .element-menu-top {
  font-weight: bold !important;
  font-size: 13px !important;
}
.element-shopping-cart .grid-shopping-cart .element-menu-top .menu-top-list li {
  color: #F7F6F5 !important;
}
.element-shopping-cart .grid-shopping-cart .link-shopping-cart {
  margin-top: 10px !important;
  border-radius: 50px !important;
  background-color: #42314C !important;
  padding: 18px;
  padding-left: 45px;
  cursor: pointer !important;
}
.element-shopping-cart .grid-shopping-cart .link-shopping-cart .icon-shopping-cart {
  color: #F7F6F5 !important;
  top: 7px;
  left: 3px;
}
.element-shopping-cart .grid-shopping-cart .link-shopping-cart .shopping-cart-total-price-wrapper .shopping-cart-total-price {
  color: #F7F6F5 !important;
}

/*# sourceMappingURL=element-shopping-cart.css.map */
