.header-2 {
  background: #915a84 !important;
}
.header-2 .element-logo .grid-logo {
  display: flex !important;
  max-width: 100% !important;
}
.header-2 .element-logo .grid-logo .logo {
  height: 120px !important;
  width: 120px !important;
}
.header-2 .element-search .grid-search .welcome-message {
  visibility: hidden !important;
}
.header-2 .element-search .grid-search #form-search-header .search-inner .search-field {
  border-radius: 50px;
  padding: 18px;
  color: #42314C !important;
  font-size: 15px;
}
.header-2 .element-search .grid-search #form-search-header .search-inner .search-field::placeholder {
  color: #42314C !important;
  font-size: 15px;
}
.header-2 .element-search .grid-search #form-search-header .search-inner .search-field:focus {
  border: none !important;
  box-shadow: 0 0 10px 4px #DB81B9;
}
.header-2 .element-search .grid-search #form-search-header .search-inner .btn, .header-2 .element-search .grid-search #form-search-header .search-inner .btn-search {
  top: 8px !important;
}
.header-2 .element-shopping-cart .grid-shopping-cart .element-menu-top {
  font-weight: bold !important;
  font-size: 13px !important;
}
.header-2 .element-shopping-cart .grid-shopping-cart .element-menu-top .menu-top-list li {
  color: #F7F6F5 !important;
}
.header-2 .element-shopping-cart .grid-shopping-cart .link-shopping-cart {
  margin-top: 10px !important;
  border-radius: 50px !important;
  background-color: #42314C !important;
  padding: 18px;
  padding-left: 45px;
  cursor: pointer !important;
}
.header-2 .element-shopping-cart .grid-shopping-cart .link-shopping-cart .icon-shopping-cart {
  color: #F7F6F5 !important;
  top: 7px;
  left: 3px;
}
.header-2 .element-shopping-cart .grid-shopping-cart .link-shopping-cart .shopping-cart-total-price-wrapper .shopping-cart-total-price {
  color: #F7F6F5 !important;
}

/*# sourceMappingURL=header-2.css.map */
