#product-list .product-list-item {
  border-radius: 20px;
}
#product-list .product-list-item .product-list-item-inner .wrapper-product-combination {
  display: none !important;
}
#product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn,
#product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit {
  background: #815076 !important;
  border-radius: 10px !important;
  border: 0.1px groove #815076 !important;
}
#product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover,
#product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover {
  background: transparent !important;
  border: 0.1px groove #815076 !important;
  border-radius: 10px !important;
}
#product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover .btn-text,
#product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover .btn-text {
  color: #815076;
}

/*# sourceMappingURL=product-item-list.css.map */
