.element-highlight .header-box-content .title-secundary {
  color: #42314C !important;
  border: none !important;
  font-size: 25px;
}
.element-highlight #product-list .product-list-item {
  background-color: #F7F6F5 !important;
  padding: 0 0 80px 0 !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 5px rgba(129, 80, 118, 0.4);
}
.element-highlight #product-list .product-list-item .product-list-item-inner .product-image {
  background-color: #fff !important;
  border-radius: 9px 9px 0 0 !important;
}
.element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-name {
  padding: 10px;
  color: #42314C !important;
}
.element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-price, .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-old-price {
  padding-left: 10px;
  color: #42314C !important;
}
.element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-price span, .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-old-price span {
  color: #42314C !important;
}
.element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-price .product-big-price, .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-old-price .product-big-price {
  color: #42314C !important;
}
.element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-price, .element-highlight #product-list .product-list-item .product-list-item-inner .product-info .product-sell-price {
  color: #42314C !important;
}
.element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-product-combination {
  display: none !important;
}
.element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product {
  bottom: 0 !important;
}
.element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn, .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit {
  width: 100% !important;
  background: #DB81B9 !important;
  border-radius: 0 0 10px 10px !important;
}
.element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn .btn-text, .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit .btn-text {
  color: #F7F6F5 !important;
}
.element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover, .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover {
  background: #815076 !important;
  border-radius: 0 0 10px 10px !important;
}
.element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn:hover .btn-text, .element-highlight #product-list .product-list-item .product-list-item-inner .wrapper-btn-product .wrapper-btn-buy-kit .btn-buy-kit:hover .btn-text {
  color: #F7F6F5 !important;
}

/*# sourceMappingURL=element-highlight.css.map */
