@import '../../paleta.scss';

.element-phone {
    color: $light-shade !important;
    
    .grid-phone {
        .title-footer { }
        
        .phone-inner { 
            .info-phone { }

            .info-phone, .info-whatsapp { }

            .info-time { }

            .info-email { }
        }
    }
}