@import '../mixins/mixins.scss';
@import '../paleta.scss';

.element-menu-category {
    // margin-bottom: 0 !important;
    box-shadow: none !important;

    #menu-category {
        .menu-category-inner {
            .menu-category-list {
                li {

                    a {
                        @include flexcenter;
                        height: 40px !important;
                    }
                }
            }   
        }
    }
}

.element-banner-main {

    .container-12 {

        .grid-12 {
            #banner-main {
                li {
        
                    a {
                        img {
                        }
                    }
                }
            }
        }

    }
 }

.element-banner-stripe #banner-stripe { }